.mainContain{
  margin-left: 30%;
}

.col-md-1{
  display:flex;
  align-items: center;
  justify-content: center;
  border: .5vw solid lightgrey;
  height:4vw;
  width:4vw;
}

/*Helm!~~~~~~~~~~~~~~~~~~~~~~~~~*/
.fireControl{
  position:absolute;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  flex-direction: row;
  /*align-self: flex-end;
  justify-content: space-around;*/
  border: .25vw solid red;
  top:75%;
  margin-left: 40%;
  height: 8vw;
  width:10vw;
}

input{
  display: flex;
  margin-left: auto;
  height:2.5;
}

.bigRed{
  position:absolute;
  display:flex;
  display: block;
  height:5vw;
  width:5vw;
  top:17.5%;
  margin-left: 1.5vw;
  border-radius:50%
}
