.mainContain{
  margin-top: 3vw;
  margin-left: 30%;
}

.col-md-1{
  display:flex;
  align-items: center;
  justify-content: center;
  border: .1vw solid lightgrey;
  height:4vw;
  width:4vw;
  max-height: 100%;
  max-width:100%;
}

/*Helm!~~~~~~~~~~~~~~~~~~~~~~~~~*/
.fireControl{
  position:absolute;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  flex-direction: row;
  /*align-self: flex-end;
  justify-content: space-around;*/
  border: .25vw solid red;
  top:75%;
  margin-left: 40%;
  height: 8vw;
  width:10vw;
}

input{
  display: flex;
  margin-left: auto;
  height:2.5;
}

.bigRed{
  position:absolute;
  display:flex;
  display: block;
  height:5vw;
  width:5vw;
  top:17.5%;
  margin-left: 1.5vw;
  border-radius:50%
}

.impact{
  background-color: red;
}

.impactGif{
  background-image: url('impact.gif');
  background-size: 100%;
}

/*.standIn{
  display:flex;
  align-items: center;
  justify-content: center;
  border: .1vw solid lightgrey;
  height:4vw;
  width:4vw;
  max-height: 100%;
  max-width:100%;
  background-image: url('walking.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}*/

.standIn{
  background-image: url('viral.gif');
  background-size: 100%;
}

.turret{
  background-image: url('turret.gif');
  height: 128px;
  width: 128px;
  margin-left: 13.25vw;
  margin-top:3.25vw;
}
